<nb-card accent="success"
           nbSpinnerStatus="info"
           nbSpinnerSize="small"
           nbSpinnerMessage="">
    <nb-card-header>Settings</nb-card-header>
    <nb-card-body>

      <nb-tabset fullWidth>
        <nb-tab tabTitle="Rights">
          <p *ngIf="rolesComponent.selectedRole">{{rolesComponent.selectedRole.name}}</p>
        </nb-tab>
        <nb-tab tabTitle="Users" >
          <p *ngIf="rolesComponent.selectedRole">{{rolesComponent.selectedRole.id}}</p>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
