<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
  Please follow link <a routerLink="pages/dashboard">dashboard</a>
</div>

<ng-template #loggedOut>

  <h1 id="title" class="title">Login</h1>
  <p class="sub-title">Hello! Log in with username</p>

  <nb-alert *ngIf="f.submitted && isLoginFailed" outline="danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    Login failed: {{errorMessage}}
  </nb-alert>
  <nb-alert *ngIf="f.submitted && !isLoginFailed" outline="success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    Logging in...
  </nb-alert>

  
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-control-group">
        <label class="label" for="username">Username:</label>
        <input nbInput
               fullWidth
               [(ngModel)]="form.username"
               #username="ngModel"
               name="username"
               id="username"
               placeholder="Type username..."
               autofocus
               type="text"
               required />
        <ng-container *ngIf="username.invalid && username.touched">
          <p class="error-message" *ngIf="username.errors?.required">
            Username is required!
          </p>
        </ng-container>
      </div>
      <div class="form-control-group">
        <label class="label" for="password">Password:</label>
        <input nbInput
               fullWidth
               [(ngModel)]="form.password"
               #password="ngModel"
               name="password"
               type="password"
               id="password"
               placeholder="Type password..."
               required
               />
        <ng-container *ngIf="password.invalid && password.touched">
          <p class="error-message" *ngIf="password.errors?.required">
            Password is required!
          </p>
        </ng-container>
      </div>
        <button nbButton
                fullWidth>Log In</button>


    </form>
</ng-template>
