<div class="steppers-container row">
  <div class="col-sm-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <div *ngIf="userExist; else newUser">Edit {{ user.profile.firstname }}'s info</div>
        <ng-template #newUser>Create new user</ng-template>
      </nb-card-header>
      <nb-card-body>
        <nb-stepper #stepper>
          <nb-step [stepControl]="firstForm" label="Account info">
            <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
              <div class="form-group row">
                <label for="iin" class="label col-sm-3 col-form-label">IIN</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="text" placeholder="Enter IIN" id="iin" class="form-control"
                         formControlName="iin"
                         [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
                </div>
              </div>
              <div class="form-group row">
                <label for="password" class="label col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="password" placeholder="Enter password" id="password" class="form-control"
                         formControlName="password"
                         [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <label for="lastname" class="label col-sm-3 col-form-label">Lastname</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="text" placeholder="Enter lastname" id="lastname" class="form-control"
                         formControlName="lastname"
                         [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
                </div>
              </div>
              <div class="form-group row">
                <label for="firstname" class="label col-sm-3 col-form-label">Firstame</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="text" placeholder="Enter name" id="firstname" class="form-control"
                         formControlName="firstname"
                         [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
                </div>
              </div>
              <div class="form-group row">
                <label for="middlename" class="label col-sm-3 col-form-label">Middlename</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="text" placeholder="Enter middlename" id="middlename"
                         class="form-control"
                         formControlName="middlename"
                         [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
                </div>
              </div>
              <div class="form-group row">
                <label for="previousLastname" class="label col-sm-3 col-form-label">Previous Lastname</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="text" placeholder="Enter previousLastname" id="previousLastname"
                         class="form-control"
                         formControlName="previousLastname"
                         [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <label for="birthDate" class="label col-sm-3 col-form-label">Birth Date</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth
                         placeholder="Enter birth date" formControlName="birthDate" id="birthDate"
                         [nbDatepicker]="formpicker">
                  <nb-datepicker #formpicker></nb-datepicker>
                </div>
              </div>
              <div class="form-group row">
                <label for="previousLastname" class="label col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-9">
                  <nb-select fullWidth placeholder="Enter gender" id="gender" formControlName="gender">
                    <nb-option value="MALE">Male</nb-option>
                    <nb-option value="FEMALE">Female</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="form-group row">
                <label for="maritalStatus" class="label col-sm-3 col-form-label">Marital Status</label>
                <div class="col-sm-9">
                  <nb-select fullWidth placeholder="Enter marital status" id="maritalStatus"
                             formControlName="maritalStatus">
                    <nb-option value="SINGLE">Single</nb-option>
                    <nb-option value="MARRIED">Married</nb-option>
                  </nb-select>
                </div>
              </div>
              <button nbButton nbStepperNext>next</button>
            </form>
          </nb-step>
          <nb-step [stepControl]="secondForm" label="Contacts info">
            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
              <div class="form-group row">
                <label for="nationality" class="label col-sm-3 col-form-label">Nationality</label>
                <div class="col-sm-9">
                  <nb-select fullWidth placeholder="Enter nationality" id="nationality" formControlName="nationality">
                    <nb-option value="KAZAKH">Kazakh</nb-option>
                    <nb-option value="RUSSIAN">Russian</nb-option>
                    <nb-option value="AMERICAN">American</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="form-group row">
                <label for="citizenship" class="label col-sm-3 col-form-label">Citizenship</label>
                <div class="col-sm-9">
                  <nb-select fullWidth placeholder="Enter citizenship" id="citizenship" formControlName="citizenship">
                    <nb-option value="KAZAKHSTAN">Kazakhstan</nb-option>
                    <nb-option value="RUSSIANFEDERATION">Russian Federation</nb-option>
                    <nb-option value="USA">USA</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="form-group row">
                <label for="livingPlace" class="label col-sm-3 col-form-label">Living place</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="text" placeholder="Enter living place" id="livingPlace"
                         class="form-control"
                         formControlName="livingPlace"
                         [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
                </div>
              </div>
              <div class="form-group row">
                <label for="registrationPlace" class="label col-sm-3 col-form-label">Registration place</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="text" placeholder="Enter registration place" id="registrationPlace"
                         class="form-control"
                         formControlName="registrationPlace"
                         [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <label for="email" class="label col-sm-3 col-form-label">e-mail</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="text" placeholder="Enter email" id="email" class="form-control"
                         formControlName="email"
                         [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
                </div>
              </div>
              <div class="form-group row">
                <label for="mobilePhone" class="label col-sm-3 col-form-label">Mobile phone</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="text" placeholder="Enter mobile phone" id="mobilePhone"
                         class="form-control"
                         formControlName="mobilePhone"
                         [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
                </div>
              </div>
              <div class="form-group row">
                <label for="workPhone" class="label col-sm-3 col-form-label">Work phone</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="text" placeholder="Enter work phone" id="workPhone"
                         class="form-control"
                         formControlName="workPhone"
                         [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
                </div>
              </div>
              <div class="form-group row">
                <label for="homePhone" class="label col-sm-3 col-form-label">Home phone</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth type="text" placeholder="Enter home phone" id="homePhone"
                         class="form-control"
                         formControlName="homePhone"
                         [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
                </div>
              </div>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </form>
          </nb-step>
          <nb-step [stepControl]="thirdForm" label="Additional info">
            <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
              <div class="form-group row">
                <label for="additional" class="label col-sm-3 col-form-label">Additional information</label>
                <div class="col-sm-9">
                  <textarea fullWidth type="text" placeholder="Enter additional information" id="additional"
                            class="form-control"
                            formControlName="additional"
                            [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}"></textarea>
                </div>
              </div>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>Confirm</button>
            </form>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
      <nb-card-footer>
        <div class="buttons-row">
          <button nbButton hero status="danger" (click)="dismiss()">Close</button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
